@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
body,
html {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #696969;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 15px;
  box-sizing: border-box;
}

.overflow {
  height: 50%;
  overflow: hidden;
}
.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.6);
}

h5,
strong {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

h3,
h5,
p,
h4 {
  font-family: "IBM Plex Mono", monospace;
}
p {
  font-size: 15px;
}
